:root {
  --theme-purple: hsl(276, 34%, 48%);
  --theme-green: hsl(141, 75%, 48%);
  --inactive-text: 	hsla(0, 0%, 90%, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-rows: auto 1fr;
  background-image: url('../images/background-3.png');
  background-size:cover;
  background-position-y: 70%;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 125px 1fr 125px;
  align-items: center;
  justify-items: center;
  height: 85px;
  background-image: linear-gradient(135deg, var(--theme-purple) 0%, transparent 70%);
}

header > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .jammming-logo {
  height: 75px;
}
header .spotify-logo {
  width: 50%;
}

main {
  grid-area: main;
  width: 80%;
  height: calc(100vh - 85px);
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "search search"
    "tracks playlist";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  justify-content: center;
  gap: 1rem;
}


.tracks {
	grid-area: tracks;
	display: block;
	width: 100%;
	padding: 1rem;
	background-color: hsla(0, 0%, 0%, 0.9);
	height: calc(100% - 2rem);
  overflow: hidden;
}

.tracks h3 {
	padding-bottom: 1rem;
	border-bottom: 1px solid white;
}


.track-list {
	overflow-y: auto;
    height: calc(100% - 2rem);
	margin-top: 0.25rem;
}



/*******  DEFAULT BEHAVIORS  *******/

.spotify-loader {
  display: none;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: hsla(276, 34%, 48%, 0.9);
  font-size: 2rem;
  padding: 2rem;
}
.spotify-loader.active {
  display: block;
}

button {
  border: 2px solid var(--theme-purple);
  background-color: transparent;
  padding: 0.5em 1.5em;
  font-weight: 600;
  cursor: pointer;
}
button:active {
  background-color: var(--theme-purple);
}

input[type="text"], input[type="password"], input[type="number"], input[list], input[type="date"], input[type="time"], input[type="tel"], input[type="address"], input[type="email"], input[type="url"], select {
	border-width: 0px 0px 2px 0px;
	border-color:var(--theme-purple);
  background-color:transparent;
  padding: 3px 3px 3px 3px;
	line-height: 1.5em;
  margin-top: 5px;
}

input:focus-visible, select:focus-visible {
	outline:none;
	border-color:var(--theme-purple);
}

input[type="text"]::placeholder {
  color: var(--inactive-text);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  z-index:1;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0,0,0,0.3); 
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  box-shadow: inset 0 0 4px rgba(0,0,0,0.5); 
  background:var(--theme-purple);
}
