.playlist {
	grid-area: playlist;
	display: block;
	width: 100%;
	padding: 1rem;
	background-color: hsla(0, 0%, 0%, 0.9);
	height: calc(100% - 2rem);
	overflow: hidden;
}

.playlist-header {
	grid-area: header;
	width: 100%;
	height: 2.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
	border-bottom: 1px solid white;
	padding-bottom: 0.5rem;
}

.playlist-list {
	overflow-y: auto;
    height: calc(100% - 2rem);
	margin-top: 0.25rem;
}
.playlist-name {
	flex: 1 0 auto;
	font-size: 1rem;
	font-weight: bold;
}

.playlist-save, .playlist-cancel {
    height: 100%;
	width: 90px;
}

.new-playlist {
	font-size: 2rem;
	font-weight: bold;
	border: none;
	padding: 0 1rem;
}

.playlist-item {
	display: grid;
	list-style-type: none;
	padding: 0.5rem;
	grid-template-areas: 
		"title action"
		"tracks action";
	grid-template-columns: 1fr 1.5rem;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	box-shadow: 0px 10px 5px -10px white;
	cursor:pointer;
}

.playlist-item > div {
	padding: 0.125em 0;
}

.playlist-title {
	grid-area: title;
	font-size: 1.2rem;
	font-weight: 600;
}

.playlist-tracks {
	grid-area: tracks;
}

.playlist-action {
	grid-area: action;
	font-size: 1.5rem;
	font-weight: 700;
	padding: 0;
	border: none !important;
}

