.search {
	grid-area: search;
}
.search form {
  width: 100%;
  height: 3rem;
  display:flex;
  flex-wrap: wrap;
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.search-bar {
	flex: 1 0 auto;
	font-size: 1.5rem;
	font-weight: bold;
}

.search-button {
	flex: 0 0 auto;
	width: 150px;
	font-size: 1.4rem;
}

.search-clear {
	position: relative;
    right: 2.5rem;
    border: none !important;
    font-size: 1.5rem;
    width: 2rem;
	padding: 0;
}