.track-item {
	display: grid;
	list-style-type: none;
	padding: 0.5rem;
	grid-template-areas: 
		"title action"
		"artist action"
		"album action";
	grid-template-columns: 1fr 1.5rem;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	box-shadow: 0px 10px 5px -10px white;
}

.track-item > div {
	padding: 0.125em 0;
}

.track-item.added > div {
	color: var(--inactive-text);
}

.track-item svg {
	display:inline-block;
	width: 1em;
	vertical-align: middle;
	margin-right: 0.5em;
}
.track-item svg path {
	fill: white;
}
.track-item.added svg path {
	fill: var(--inactive-text);
}


.track-title {
	grid-area: title;
	font-size: 1.2rem;
	font-weight: 600;
}

.track-artist {
	grid-area: artist;
}

.track-album {
	grid-area: album;
}

.track-action {
	grid-area: action;
	font-size: 1.5rem;
	font-weight: 700;
	padding: 0;
	border: none !important;
}

